---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Lintas Nusa - Home"
	description="Professional software development services by Lintas Nusa"
>
	<main>
		<h1>Welcome to Lintas Nusa</h1>
	</main>
</Layout>