---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomeHero from "../components/HomeHero.astro";
import HomeProofStrip from "../components/HomeProofStrip.astro";
import HomeDifferentiators from "../components/HomeDifferentiators.astro";
import HomeCoverageSummary from "../components/HomeCoverageSummary.astro";
import HomeCapabilityTeasers from "../components/HomeCapabilityTeasers.astro";
import HomeFAQ from "../components/HomeFAQ.astro";
import HomeDemoCta from "../components/HomeDemoCta.astro";
---

<Layout
	title="Beranda"
	description="Halaman utama LintasNusa Logistics untuk tim enterprise yang menilai visibilitas jaringan, SLA terukur, dan kontrol operasional lintas fungsi."
	pageName="home"
>
	<Header />
	<div class="route-stage" data-page-view="home">
		<HomeHero />
		<HomeProofStrip />
		<HomeDifferentiators />
		<HomeCoverageSummary />
		<HomeCapabilityTeasers />
		<HomeFAQ />
		<HomeDemoCta />
		<Footer />
	</div>
</Layout>
